TRADOVATE_MODE=local

## Live
TRADOVATE_LIVE_API_KEY=
TRADOVATE_LIVE_SECRET_KEY=

## Test
TRADOVATE_TEST_API_KEY=
TRADOVATE_TEST_SECRET_KEY=

## Slack
TRADOVATE_SLACK_ENABLED=false
TRADOVATE_SLACK_WEBHOOK_URL=
TRADOVATE_SLACK_CHANNEL=
TRADOVATE_SLACK_USERNAME=

## Local Tunnel
TRADOVATE_LOCAL_TUNNEL_ENABLED=false
### A local tunnel makes the bot accessible from the outside.
### Please set the subdomain of the local tunnel as a subdomain that only you can remember.
TRADOVATE_LOCAL_TUNNEL_SUBDOMAIN=default

## Feature Toggles
TRADOVATE_FEATURE_TOGGLE_NOTIFY_ORDER_CONFIRM=true
TRADOVATE_FEATURE_TOGGLE_NOTIFY_DEBUG=false
TRADOVATE_FEATURE_TOGGLE_NOTIFY_ORDER_EXECUTE=true

## Authentication
TRADOVATE_AUTHENTICATION_ENABLED=true
### Please set your own password.
TRADOVATE_AUTHENTICATION_PASSWORD=123456
TRADOVATE_JOBS_TRAILING_TRADE_BOT_OPTIONS_AUTHENTICATION_LOCK_LIST=true
TRADOVATE_JOBS_TRAILING_TRADE_BOT_OPTIONS_AUTHENTICATION_LOCK_AFTER=120
